* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #e9ecef;
  color: black;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav-bar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: #ade8f4;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
#header-img {
  height: 500px;
  max-width: 100%;
  border-radius: 20px;
  margin-top: 30px;
  opacity: 80%;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
  margin: 10px;
}
section {
  background-color: ;
}
